body {
  background: #2b2626;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: hidden;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  width: 300px;
  height: 450px;
  transition: transform 0.2s;
}
.container {
  height: 20px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: -450%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(162, 62, 62, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
